.Todayweather .icon {
  width: 85px;
  position: relative;
  left: 20px;
}

.Todayweather .output-one {
  font-family: "Comfortaa", cursive;
  padding: 12px 0 0 70px;
}

.Todayweather .output-city-temp-unit {
  font-weight: bold;
}

.Todayweather .city-and-temp {
  font-size: 30px;
}

.Todayweather .celsius,
.Todayweather .fahrenheit,
.Todayweather .pipe {
  position: relative;
  bottom: 11px;
}

.Todayweather .link {
  color: rgb(22, 26, 87);
}

.Todayweather .active {
  text-decoration: none;
  color: rgb(33, 37, 41);
  cursor: default;
}

.Todayweather .active:hover {
  color: rgb(33, 37, 41);
}

.Todayweather .output-two {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  padding: 10px 30px 0 0;
}

.Todayweather ul {
  list-style: none;
}

.Todayweather .description {
  text-transform: capitalize;
}

@media (max-width: 575px) {
  .Todayweather .icon {
    width: 120px;
    display: block;
    margin: 15px auto;
    position: static;
  }

  .Todayweather .output-one {
    text-align: center;
    margin: 20px 15px;
    padding: 0 33px 0 0;
  }

  .Todayweather .celsius,
  .Todayweather .fahrenheit,
  .Todayweather .pipe {
    position: relative;
    bottom: 10px;
  }

  .Todayweather .output-two {
    text-align: center;
    margin: 18px;
    padding: 0 80px 0 0;
  }
}
